*{
    margin: 0px;
    padding: 0px;
}

h1{
    font: bold 20px Comic Sans MS;
}

h2{
    font: 15px Comic Sans MS;
}

header, section, foother, aside, nav, article, hgroup{
    display: block;
}

body{
    text-align: center;
}

#stranica{
    width: 1263px;
    margin: 0px auto;
    text-align: left;
    background: #E9EAED;
}

#deckstranica{
    /*width: 1263px;*/
    margin: 0px auto;
    text-align: left;
    background: #E9EAED;
}

#meni{
    background: black;
    color: #33CCFF;
    margin-top: 1px;
    margin-down: 5px;
    text-align: center;
}

#meni li{
    display: inline-block;
    list-style: none;
    padding: 20px;
    font: bold 20px Comic Sans MS;
}

.dropbtn {
    background-color: black;
    color: #33CCFF;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font: 17px Comic Sans MS;
}

.pocetna {
    background-color: black;
    color: #33CCFF;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font: 17px Comic Sans MS;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font: 17px Comic Sans MS;
}

.dropdown-content a {
    color: #33CCFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
background-color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}

#glavno{
    float: left;
    width: 1000px;
    /*width: 1000px;*/
    margin-left: 25px;
    margin-bottom: 15px;
}

#deckglavno{
    float: left;
    width: 1000px;
    /*width: 1000px;*/
    margin-left: 25px;
    margin-bottom: 15px;
}

#obavestenja{
    position: absolute;
    top: 67px;/*67*/
    left: 1027px;
    float: left;
    background: #ffffff;
    width: 225px;
    border: 1px solid white;
    padding: 13px;
    margin: 5px;
   -webkit-box-shadow: rgb(110, 110, 110)    0.1px    0.5px    2px;
}

#foother{
    clear: both;
    text-align: center;
    padding: 15px;
    margin-bottom: 5px;
    font: bold 15px Comic Sans MS;
}

article{
    background: #ffffff;
    border: 1px solid white;
    padding: 20px;
    margin-bottom: 5px;
   -webkit-box-shadow: rgb(110, 110, 110)    0.1px    0.1px    1.15px;
}

#slide{
    float: left;
    width: 1000px;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 15px;
    background: #ffffff;
    border: 1px solid white;
    padding: 20px;
   -webkit-box-shadow: rgb(110, 110, 110)    0.1px    0.1px    1.15px;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-top: 25px;
    margin: auto;
}

/* Caption text */
.text {
    color: #33CCFF;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    background: black;
}

/* Number text (1/4 etc) */
.numbertext {
    color: #33CCFF;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
   background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

* {box-sizing: border-box;}

.topnav {
    overflow: hidden;
    position: absolute;
    top: 5px;
    left: 1021px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

#decks{
    position: absolute;
    top: 257px;/*67*/
    left: 1027px;
    float: left;
    background: #ffffff;
    width: 225px;
    border: 1px solid white;
    padding: 13px;
    margin: 5px;
   -webkit-box-shadow: rgb(110, 110, 110)    0.1px    0.5px    2px;
}

#vreme{
    font: 20px Comic Sans MS; 
    position: absolute;
    top: 195px;/*67*/
    left: 1027px;
    float: left;
    background: #ffffff;
    width: 225px;
    border: 1px solid white;
    padding: 10px;
    margin: 5px;
   -webkit-box-shadow: rgb(110, 110, 110)    0.1px    0.5px    2px;
}

table {
    font: bold 15px Comic Sans MS;
    font-family: Comic Sans MS, sans-serif;
    border-collapse: collapse;
    /*width: 100%;*/
    background: black;
    color: #33CCFF;
    margin: 10px;
}

td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: black;
}

* {
    box-sizing: border-box;
}

.zoom {
    padding: 10px;
    transition: transform .2s;
    width: 110px;
    height: 140px;
    margin: 0;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

#borderimg { 
     border: 10px solid transparent;
     padding: 15px;
     border-image: url(slike/border/border1.png) 35 stretch;
}
